<div class="container">
<header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-13 text-center">
            <a class="blog-header-logo text-dark" href="#">
                <img id="img_titre" src="{{ asset('build/image/titre_site.png') }}" alt="logo handiaccess">
            </a>
          </div>
        </div>
</header>
    <div class="sticky-top">
        <div class="nav-accessiblite">
        <ul class="pagination">
            <li class="page-item align-middle" id="accessibilite_titre">Accessiblité</li>
            <li class="page-item"><a class="page-link" href="#"><img class="img-thumbnail" src="{{ asset('build/image/accessibilite/accessibilite_augmenter.png') }}" alt="Augmenter la police d'écriture"></a></li>
            <li class="page-item"><a class="page-link" href="#"><img class="img-thumbnail" src="{{ asset('build/image/accessibilite/accessibilite_baisser.png') }}" alt="Baisser la police d'écriture"></a></li>
            <li class="page-item"><a class="page-link" href="#"><img class="img-thumbnail" src="{{ asset('build/image/accessibilite/accessibilite_reinitialiser.png') }}" alt="Reinitialiser la police d'écriture"></a></li>
            <li class="page-item"><a class="page-link" href="#"><img class="img-thumbnail" src="{{ asset('build/image/accessibilite/accessibilite_contraste.png') }}" alt="Changer le contraste de la page"></a></li>
            <li class="page-item"><a class="page-link" href="#"><img class="img-thumbnail" src="{{ asset('build/image/accessibilite/accessibilite_audio.png') }}" alt="Lire la page à l'aide de l'assistant"></a></li>
        </ul>
    </div>
    </div>
    <nav class="nav nav-pills nav-fill navbar-light menu">
        <a class="nav-item nav-link item-menu" href="#">VOUS ETES EN SITUATION DE HANDICAP</a>
        <a class="nav-item nav-link item-menu" href="#">VOUS ETES UN ORGANISME DE FORMATION</a>
        <a class="nav-item nav-link item-menu" href="#">CLASSEMENT</a>
        <a class="nav-item nav-link item-menu" href="#">CONNEXION A VOTRE ESPACE</a>
    </nav>
</div>