{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <h3 style="text-align: center">Classement des lieux de formation les plus adaptées</h3>
    <table>
        <thead>
        <tr>
            <th scope="col">Classement</th>
            <th scope="col">Nom</th>
            <th scope="col">Lieu</th>
            <th scope="col">Lien</th>
            <th scope="col">Certification</th>
            <th scope="col">Note</th>
        </tr>
        </thead>
        <tbody>

            {% for utilisateur in utilisateurs %}
            <tr>
                <th scope="row">#{{ utilisateur.id}}</th>
                <th>{{ utilisateur.nomEntreprise }}</th>
                <th>{{ utilisateur.adresse }}</th>
                <th><a href="https://{{ utilisateur.siteWeb }}">{{ utilisateur.siteWeb }}</a></th>
                <th><img style="width: 20%; position: relative" src={{ asset('build/image/logo_label.png') }}></img></th>
                <th>{{ random(100, 200)/10 }}/20</th>
            </tr>
            {% endfor %}


        </tbody>
    </table>
{% endblock %}
